<% @webpage = Webpage.create("admin/comatose_admin") -%>
<% @webpage.title = "Delete Page" -%>
<h2>
  Page Delete Confirmation
</h2>

<blockquote>
  <p>Are you sure you want to delete the page titled  "<b><%= @page.title %></b>"?</p>
<% if @page.has_children? %>
  <p>It has <b><%= @page.children.length %></b> child pages that will also be deleted...</p>
<% end %>
</blockquote>

<%= form_tag do %>
<div id="button-group">
  <%= submit_tag "Yes, Delete The Page" %>
  or
  <%= link_to "Cancel", :action=>'index' %>
</div>
<%= end %>