<h2>
  Links...
</h2>
<dl>
  <dt><%= link_to "Blog", posts_path %></dt>
  <dt><%= link_to "Comatose", {:controller => 'comatose_admin', :action => 'index'} %></dt>
  <dt><%= link_to "Contacts", contacts_path %></dt>
  <dt><%= link_to "Photos", photos_path %></dt>
  <dt><%= link_to "Photo Sets", photo_sets_path %></dt>
  <dt><%= link_to "Redirections", redirections_path %></dt>
  <dt><%= link_to "Tags", tags_path %></dt>
  <dt><%= link_to "Log Out", logout_url %></dt>
</dl>
